.slider {
  position: relative;
  top: 0;
  height: 100%; }
  .slider div .item {
    width: 100%;
    height: 480px; }
  .slider div .slider-uno {
    background-image: url("../images/slider/1-slider.jpg"); }
    .slider div .slider-uno h1 {
      color: #FFFFFF;
      font-weight: bold; }
    .slider div .slider-uno p {
      color: #FFFFFF; }
    .slider div .slider-uno .btn-slider {
      background-color: transparent;
      color: #FFFFFF;
      border-radius: 64px;
      border: 2px solid;
      border-color: #FFFFFF;
      padding: 8px 24px 9px;
      cursor: pointer; }
  .slider div .slider-dos h1, .slider .slider-tres h1, .slider .slider-cuatro h1 {
    color: #484848;
    font-weight: bold;
    position: relative;
    bottom: 250px; }
  .slider div .slider-dos p, .slider .slider-tres p, .slider .slider-cuatro p {
    color: #484848;
    position: relative;
    bottom: 250px; }
  .slider div .slider-dos .btn-slider, .slider .slider-tres .btn-slider, .slider .slider-cuatro .btn-slider {
    background-color: transparent;
    color: #484848;
    border-radius: 64px;
    border: 2px solid;
    border-color: rgba(72, 72, 72, 0.3);
    padding: 8px 24px 9px;
    cursor: pointer;
    position: relative;
    bottom: 250px; }
  .slider div .slider-dos, .slider .slider-tres, .slider .slider-cuatro {
    background-image: url("../images/slider/2-slider.jpg"); }
  .slider div .slider-tres {
    background-image: url("../images/slider/3-slider.jpg"); }
  .slider div .slider-cuatro {
    background-image: url("../images/slider/4-slider.jpg"); }

.destinos-destacados h3 {
  font-size: 18px;
  margin-bottom: 18px;
  color: #484848; }

.destinos-destacados .img-destino {
  width: 100%; }

.destinos-destacados p {
  font-weight: bold; }

.experiencias-solidarias h3 {
  font-size: 18px;
  margin-bottom: 18px;
  color: #484848; }

.experiencias-solidarias .img-experiencias {
  width: 100%; }

.experiencias-solidarias span {
  font-weight: bold; }

.experiencias-solidarias p {
  display: inline-block; }

header img {
  width: 30px; }

header a {
  color: black; }

header .nav > li > a:focus, header .nav > li > a:hover {
  background-color: transparent;
  color: black; }

footer select {
  margin-bottom: 12px; }

footer a {
  color: #484848; }

footer a:hover, footer a:focus, footer a:active {
  color: #62B3B7;
  text-decoration: none;
  outline: none; }

footer img {
  width: 30px; }

.form .btn-fichas {
  width: 100%;
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #484848;
  padding: 8px 10px 8px 14px;
  border: 1px solid #aaa;
  text-align: left; }

.form .div-gray {
  padding-left: 7px;
  cursor: pointer;
  background-color: #edefed;
  border: 1px solid #dce0e0;
  padding-top: 9px;
  padding-bottom: 8px;
  color: #484848; }

.form .line-gray {
  margin-bottom: 1px solid #aaa; }

.form .ui-state-default {
  border-radius: 50%;
  border: 1px solid #aaa;
  background: #FFFFFF;
  cursor: pointer; }

.form .ui-slider-horizontal .ui-slider-range {
  background-color: #00a699;
  height: 4px; }

.form .ui-widget.ui-widget-content {
  background: #dce0e0;
  height: 4px;
  width: 100%; }

.form .container-advancedFilter .btn-filtros {
  padding: 7px 21px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  color: #484848;
  background-color: #FFFFFF;
  margin-left: 20px;
  display: block; }

.form .btn-footer-pegajoso .footer-pegajoso {
  width: 100%;
  padding: 8px 60px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #aaa;
  text-align: center;
  vertical-align: middle;
  font-weight: bold; }

.form .btn-footer-pegajoso .transparent {
  border-color: #aaa;
  color: #484848;
  background: white; }

.form .btn-footer-pegajoso .pink {
  border-color: #ff7e82;
  background-color: #ff7e82;
  color: #FFFFFF; }

#mapa {
  height: 80px;
  width: 100%; }
