//color//
$fondoBlanco:#FFFFFF;
$colorRosa:#ff7e82;
$colorTurquesa:#00A699;
$colorGrisClaro:#484848;
$colorGrisOscuro:#767676;
$colorNegro : black;
$colorGrisOscuro : #767676;
$colorTurquesa : #62B3B7;

//boton//
$borderRadious: 64px;
$paddding-left: 24px;
$paddding-right: 24px;

$iconoImagen : 40px;

$none : none;