//color//
$fondoBlanco: #FFFFFF;
$colorRosa: #ff7e82;
$colorGrisClaro: #aaa;
$colorGrisOscuro: #484848;
$colorNegro: black;
$colorGris: #767676;
$colorTurquesa : #62B3B7;
$fondoGrisClaro: #edefed;
$colorLineaRango: #00a699;
$bordeNav: #DCE0E0;


//margin//
$margin-bottom: 20px;
$margin-top: 20px;
$margin-left: 20px;
$margin-right: 20px;

//boton//
$borderRadious: 64px;
$paddding-left: 24px;
$paddding-right: 24px;

$iconoImagen : 30px;

$none : none;