//color//
$fondoBlanco:#FFFFFF;
$colorRosa:#ff7e82;
$colorTurquesa:#00A699;
$colorGrisClaro:#484848;
$colorGrisOscuro:#767676;

//boton//
$borderRadious: 64px;
$paddding-left: 24px;
$paddding-right: 24px;

