@import "variables";
.slider{
	position: relative;
	top:0;
	height: 100%;
	div .item {
		width: 100%;
		height: 480px;
	}
	.img-slider{
		
	}
	div .slider-uno{
		background-image: url("../images/slider/1-slider.jpg");
		h1{
			color: $fondoBlanco; 
			font-weight: bold;
		}
		p{
			color: $fondoBlanco;
		}
		.btn-slider{
			background-color: transparent;
			color: $fondoBlanco;
			border-radius: 64px;
		    border: 2px solid;
		    border-color: $fondoBlanco;
		    padding: 8px 24px 9px;
		    cursor: pointer;
		}
	}
	div .slider-dos, .slider-tres, .slider-cuatro{
		h1{
			color: $colorGrisOscuro; 
			font-weight: bold;
			position: relative;
    		bottom: 250px;
		}
		p{
			color: $colorGrisOscuro;
			position: relative;
    		bottom: 250px;
		}
		.btn-slider{
			background-color: transparent;
			color: $colorGrisOscuro;
			border-radius: 64px;
		    border: 2px solid;
		    border-color: rgba(72, 72, 72, 0.3);
		    padding: 8px 24px 9px;
		    cursor: pointer;
		    position: relative;
    		bottom: 250px;
		}
	}
	div .slider-dos, .slider-tres, .slider-cuatro{
		background-image: url("../images/slider/2-slider.jpg");
	}
	div .slider-tres{
		background-image: url("../images/slider/3-slider.jpg");
	}
	div .slider-cuatro{
		background-image: url("../images/slider/4-slider.jpg");
	}
}
.destinos-destacados{
	h3{
		font-size: 18px;
		margin-bottom: 18px;
		color: $colorGrisOscuro;
	}
	.img-destino{
		width: 100%;
	}
}

.experiencias-solidarias{
	h3{	
		font-size: 18px;		
		margin-bottom: 18px;
		color: $colorGrisOscuro;
	}
	.img-experiencias{
		width: 100%;
	}
	span{
		font-weight: bold;
	}
	p{
		display: inline-block;
	}
}

header {
    img{
        width: $iconoImagen;
    }
    a{
        color: $colorNegro;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        background-color: transparent;
        color: $colorNegro;
    }
}

footer{
    select{
        margin-bottom: 12px;
    }
    a{
        color: $colorGrisOscuro;
    }
    a:hover, a:focus, a:active{
        color: $colorTurquesa;
        text-decoration: $none;
        outline: $none;
    }
    img{
        width: $iconoImagen;
    }
}


.form{
	.btn-fichas{
	width:100%;
	border-radius: 2px;
    background-color: $fondoBlanco;
    color: $colorGrisOscuro;
    padding: 8px 10px 8px 14px;
    border: 1px solid $colorGrisClaro;
    text-align: left;
	}
	.div-gray{
		padding-left: 7px;
		cursor: pointer;
		background-color: $fondoGrisClaro;
		border: 1px solid #dce0e0;
		padding-top: 9px;
	    padding-bottom: 8px;
	    color: $colorGrisOscuro;
	}
	.line-gray{
		margin-bottom: 1px solid $colorGrisClaro;
	}
	.ui-state-default{
		border-radius:50%;
		border: 1px solid $colorGrisClaro;
    	background: $fondoBlanco;
    	cursor: pointer;
	}
	.ui-slider-horizontal .ui-slider-range{
		background-color: $colorLineaRango;
		height: 4px;
	}
	.ui-widget.ui-widget-content{
		background: #dce0e0;
	    height: 4px;
	    width: 100%;
	}
	.container-advancedFilter{
		.btn-filtros{
			padding: 7px 21px;
    		font-size: 14px;
    		border-radius: 4px;
    		border: 1px solid;
    		cursor: pointer;
    		color: $colorGrisOscuro;
    		background-color:$fondoBlanco;
    		margin-left: $margin-left;
    		display: block;
		}
	}
	.btn-footer-pegajoso{
		.footer-pegajoso{
			width: 100%;
			padding: 8px 60px;
    		font-size: 14px;
    		border-radius: 4px;
    		border: 1px solid $colorGrisClaro;
    		text-align: center;
    		vertical-align: middle;
    		font-weight: bold;
		}
		.transparent{
				border-color: $colorGrisClaro;
    			color: $colorGrisOscuro;
    			background: white;
		}
		.pink{
			border-color: $colorRosa;
			background-color: $colorRosa;
			color: $fondoBlanco;
		}
	}
}