@import "variable";

footer{
    select{
        margin-bottom: 12px;
    }
    a{
        color: $colorGrisOscuro;
    }
    a:hover, a:focus, a:active{
        color: $colorTurquesa;
        text-decoration: $none;
        outline: $none;
    }
    img{
        width: $iconoImagen;
    }
}